<%- include ../partials/header.ejs %> <%- include ../partials/top_nav.ejs %>
<main class="container">
  <h1><%= title %></h1>
  <br>

  <a href="/product/add" class="btn btn-primary"> <b>+</b> Add a new product</a>
  <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Company</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Remove</th>
        </tr>
    </thead>
    <tbody>
        <% for(let index=0; index<ProductList.length;index++) { %>
            <tr>
                <td><%= ProductList[index].name %></td>
                <td><%= ProductList[index].company %></td>
                <td><%= ProductList[index].price %></td>
                <td>
                    <a href="/product/edit/<%= ProductList[index].id %>" class="btn btn-info btn-sm"> <i class="fa-solid fa-file-pen fa-lg"></i> Edit</a>
                </td>
                <td>
                    <a href="/product/delete/<%= ProductList[index].id %>" class="btn btn-danger btn-sm"> <i class="fa-solid fa-trash fa-lg"></i> Delete</a>
                </td>
            </tr>
        <% } %>
    </tbody>
    
  </table>

</main>

<%- include ../partials/footer.ejs %> <%- include ../partials/bottom_nav.ejs %>